{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
{{ super() }}
<script type='text/javascript' src='{{ url_for('static', filename='tab.js')}}'></script>
{% endblock %}
{% block page_content %}
<h1>{{ problem.title }}</h1>
<p>{{ problem.detail_html | safe }}</p>
<!--{{ wtf.quick_form(form) }}-->
<form method="POST">
    {{ form.hidden_tag() }}
    <!--{{ form.body.label }} -->
    <label>main.c</label>{{ form.body(class="code_area", spellcheck="false", autocapitalize="off", autocomplete="off", autocorrect="off", style="height: 450px; width: 100%; background-color: black; color: white; font-family: Courier") }}
    {{ form.submit() }}
</form>
{% if res %}
{% if res[0] == 0 %}
<h2>Result: Compile error</h2>
<pre>{{ res[1] }}</pre>
{% elif res[0] == 1 %}
<h2>Result: Accept</h2>
{% elif res[0] == 2 %}
<h2>Result: Wrong Answer</h2>
</br>
<h2>Input</h2>
<pre>{{ res[3] }}</pre>
<h2>Student Output</h2>
<pre>{{ res[1] }}</pre>
<h2>Standard Output</h2>
<pre>{{ res[2] }}</pre>
{% elif res[0] == 3 %}
<h2>Result: Time Limit</h2>
{% endif %}
{% endif %}
{% endblock %}